/*
text colors 
yellow #ffe100
white #fff

background colors
blue #076ae1
green #00a23a
red #e40428


Jessica helped...
green #00A23A
orange #f27a18
yellow #ffde0a
Blue #004a8f
dark red #83110b
*/

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #076ae1;
  --secondary-color: #e40428;
  --accent1-color: #00a23a;
  --accent2-color: #ffe100;

  /* change the values below to your chosen font(s) */
  --heading-font: "IM Fell French Canon SC";
  --paragraph-font: Rubik, Helvetica, sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #076ae1; /* headlines on a white background */
  --headline-color-on-color: #ef7d00; /* headlines on a colored background */
  --paragraph-color-on-white: #076ae1; /* paragraph text on a white background */
  --paragraph-color-on-color: #ffe100; /* paragraph text on a colored background */
  --paragraph-background-color: #076ae1;
  --nav-link-color: #fff;
  --nav-background-color: #076ae1;
  --nav-hover-link-color: #ffe100;
  --nav-hover-background-color: #00a23a;
}
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");

body {
  margin: 0;
  font-family: Rubik, Helvetica, sans-serif;
  background-color: lightskyblue;
  color: #ffe100;
}
p {
  font-size: 18px;
}
/* h3 {
  margin-top: 0px;
} */
.image {
  width: 100%;
  margin: 0px;
}
nav {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  background-color: var(--nav-background-color);
  line-height: 3em;
  text-align: center;
  font-size: 1.2em;
  height: 160px;
}
nav a {
  padding: 1em;
  min-width: 120px;
  text-decoration: none;
  padding: 10px;
  align-self: center;
}
nav a:link,
nav a:visited {
  color: var(--nav-link-color);
}
nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}
/* Style the navbar */
#navbar {
  overflow: hidden;
}

/* Navbar links */
#navbar a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.stickyfix {
  height: 160px;
}

.logo {
  height: 160px;
}
.coloredG {
  background-color: #00a23a;
  color: #ffe100;
  margin: 0px 5px;
  padding: 10px 5px;
}
.coloredB {
  background-color: var(--primary-color);
  color: #ffe100;
  margin: 0px 5px;
  padding: 10px 5px;
}
.plaindiv {
  background-color: #e40428;
  margin: 0px 5px;
  padding: 10px 5px;
}
.in {
  border: 5px inset #ef7d00;
}
.out {
  border: 5px outset #ef7d00;
}

footer {
  color: #000;
  background-color: #ef7d00;
  padding: 25px 50px;
  margin-top: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer a {
  text-decoration: none;
  color: #000;
}
footer p a:hover {
  background-color: #a43312;
  text-decoration: underline;
}
footer .social img {
  padding-top: 15px;
}

/* CSS for RubiksDisplay */
.display {
  margin: 10px;
  width: 97%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  float: center;
  gap: 10px 25px;
}
.pic {
  display: inline-block;
  background-color: gray;
  width: 100%;
  border: 5px double black;
}
.Axis {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  gap: 0px 0px;
}
.Axis1 {
  width: 100%;
}
.Axis2 {
  width: 100%;
}
.Axis3 {
  width: 100%;
}
.Axis4 {
  width: 100%;
}
.AxisText {
  grid-column: 1/3;
}
/* .hero {
} */
.placehold {
  height: 200px;
  background-color: #00a23a;
}
/* CSS for sites.html */
.title {
  display: block;
  background-color: #ef7d00;
  width: 20%;
  border: 5px double #e40428;
  margin: 7px 39%;
  color: #000;
}
.notation {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-width: 8%;
  column-gap: 4px;
}
.move {
  width: 100%;
  border: 2px solid #000;
}
.cube {
  width: 100%;
}
.move-text {
  text-align: center;
}
.notationtext1 {
  grid-column: 1/5;
  text-align: center;
}
.notationtext2 {
  grid-column: 5/9;
  text-align: center;
}
.notationtext3 {
  grid-column: 9/13;
  text-align: center;
}
.showstep {
  display: grid;
  grid-template-columns: 100px 50px 100px;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
}
.step {
  width: 100%;
  justify-self: center;
}
.FLR {
  width: 50px;
}
.FLL {
  width: 50px;
}

/* CSS for Contact us */

.center {
  text-align: center;
}
.contact {
  background-color: lightskyblue;
  color: #000;
}

form {
  /* Center the form on the page */
  margin: 0 auto;
  width: 400px;
  /* Form outline */
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li + li {
  margin-top: 1em;
}

label {
  /* Uniform size & alignment */
  display: inline-block;
  width: 90px;
  text-align: right;
}

input,
textarea {
  /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
  font: 1em sans-serif;

  /* Uniform text field size */
  width: 300px;
  box-sizing: border-box;

  /* Match form field borders */
  border: 1px solid #999;
}

input:focus,
textarea:focus {
  /* Additional highlight for focused elements */
  border-color: #000;
}

textarea {
  /* Align multiline text fields with their labels */
  vertical-align: top;

  /* Provide space to type some text */
  height: 5em;
}

.button {
  /* Align buttons with the text fields */
  padding-left: 90px;
  /* same size as the label elements */
}

button {
  /* This extra margin represent roughly the same space as the space
     between the labels and their text fields */
  margin-left: 0.5em;
}
#feedback {
  background-color: antiquewhite;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.5em;
  /* make this element invisible until we are ready for it */
  display: none;
}
.moveDown {
  margin-top: 3em;
}
